<!DOCTYPE html>
<html lang="en">

<head>
    <title>leojharris xamarin developer</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="leojharris leonard harris xamarin developer programmer c# mobile apps" />
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- for gallery css -->
    <!-- banner text effect css files -->
    <link href="css/bars.css" rel="stylesheet" type="text/css">
    <!-- for skills -->
    <!-- custom-theme files -->
    <link href="https://fonts.googleapis.com/css?family=Coda:800&display=swap" rel="stylesheet">
    <!-- //custom-theme files -->
    <!-- font-awesome-icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- //font-awesome-icons -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- googlefonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Lato:300,400'>
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <!-- //googlefonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
    <!-- Banner -->
    <header class="intro" id="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- start typer hello  -->
                        <div class="brand-heading">
                            <span class="txt-rotate" data-period="200" data-rotate='[ "Welcome,","Hello,", "Kia Ora,", "Hi,"]'></span>
                        </div>
                        <!-- end typer hello -->
                        <p class="intro-text">My name is Leonard Harris.
                            <br>I'm a .NET Xamarin Developer
                            <br>based in the coastal city of <span class="city">New Plymouth</span>, New Zealand.</p>
                        <!-- start mouse wrap -->
                        <div class="mouse-warp">
                            <a href="#mouse-here" class="page-scroll">
                                <div class="mouse">
                                    <div class="scroll"></div>
                                </div>
                            </a>
                        </div>
                        <!-- end mouse wrap -->
                    </div>
                    <!-- end column wrapping -->
                </div>
                <!-- end row header -->
            </div>
            <!-- end container header -->
        </div>
        <!-- end intro body -->
    </header>
    <!-- end intro header -->
    <div id="mouse-here"></div>
    <!-- only for mouse to fall before the start of the section -->
    <!-- start about me -->
    <section id="about-me">
        <div class="container">
            <h2 style="color: black;text-align: center; padding-top: 20px; padding-bottom: 40px;">About</h2>
            <div class="col-lg-6 about-intro">
                <div class="about-inner">
                    <div class="about-ct">
                        <img src="images/me_hq.jpg" alt="Leonard Harris" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-intro-text">
                <p>I'm a <span>.NET Xamarin Developer.</span><br>I have been developing Mobile Apps since my university days and it was while doing a second year paper that involved developing a mobile app in a team I found my passion for developing mobile apps - I also subsequently earned the <a href="images/winnercomp204.jpg" class="gallery-box" title="Myself (left of lecturer) wearing the winning team medal and my winning team after our final presentation." data-lightbox="example-set">best team medal</a> for the paper as well. I continued developing native android apps in my spare time but it was my first IT role that landed me in the Xamarin space and I have loved it ever since.<br>While not a qualifed UX designer I also have a keen interest in UX design and good mobile app interfaces that just look and feel great to use!<br>I believe the future is mobile and its exciting to be apart of it!</p>
                <div class="button-group">
                    <div class="text">Download CV</div>
                    <div class="icon-cv"><a href="files/leonards-cv.pdf" download title="Resume" target="_blank"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <!-- end row about -->
        </div>
        <!-- end container about -->
        <!-- start count stats -->
        <section id="counter-stats">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 stats ">
                        <span><a href="https://github.com/LeoJHarris" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
                        <h5 style="color: black">Github</h5>
                    </div>
                    <div class="col-lg-3 stats">
                        <span><a href="https://www.linkedin.com/in/leonardjharris/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
                        <h5 style="color: black">Linkedin</h5>
                    </div>
                    <div class="col-lg-3 stats">
                        <span><a href="#portfolio"><i class="fa fa-mobile fa-2x"></i></a></span>
                        <div class="counter" data-count="13">13</div>
                        <h5 style="color: black">Developed Apps</h5>
                    </div>
                    <div class="col-lg-3 stats">
                        <span class="fa fa-coffee" aria-hidden="true"></span>
                        <div class="counter" data-count="999">0</div>
                        <h5 style="color: black">Cups of coffee</h5>
                    </div>
                </div>
                <!-- end row counter stats -->
            </div>
            <!-- end container counter stats -->
        </section>
        <!-- end cont stats -->
    </section>
    <!-- end about me -->
    <!--skills -->
    <section id="skills">
        <h2 style="color: black;text-align: center; padding-top: 50px; padding-bottom: 40px;">Skills</h2>
        <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="90%">
            <div class="skillbar-title" style="background: #d35400;"><span>Xamarin</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="80%">
            <div class="skillbar-title" style="background: #2980b9;"><span>C#</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent">75%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="80%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>MVVM</span></div>
            <div class="skillbar-bar" style="background: #2c3e50;"></div>
            <div class="skill-bar-percent">73%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="40%">
            <div class="skillbar-title" style="background: #46465e;"><span>SQL</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent">60%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="40%">
            <div class="skillbar-title" style="background: #333333;"><span>Android</span></div>
            <div class="skillbar-bar" style="background: #525252;"></div>
            <div class="skill-bar-percent">60%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix" data-percent="30%">
            <div class="skillbar-title" style="background: #27ae60;"><span>MVC</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent">45%</div>
        </div> <!-- End Skill Bar -->
    </section>
    <!--skills -->
    <!-- //Banner -->
    <section style="background: white;padding-top: 30px;" id="portfolio">
        <h2 style="color: black;text-align: center;padding-top: 50px; padding-bottom: 40px;">Portfolio</h2>
        <h4 style="color: black;">Click image for project details</h4>
        <div class="tab-content">
            <div class="tab-pane active text-center" id="all">
                <div class="gallery-info row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_AmplifiedScheduler.png" class="gallery-box" data-lightbox="example-set" data-title="Native App (Java) Personal planning and event making made easy with Amplified Scheduler. This native Android app features Google Places API and Calendar integration for monthly and weekly planning. Use's Backendless (Software as a service) and is also featured on the Backendless site https://backendless.com/showcase/amplified-scheduler/">
                            <img src="images/Feature_AmplifiedScheduler.png" alt="Native App (Java) Personal planning and event making made easy with Amplified Scheduler. This native Android app features Google Places API and Calendar integration for monthly and weekly planning. Use's Backendless (Software as a service) and is also featured on the Backendless site https://backendless.com/showcase/amplified-scheduler/" class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">NATIVE ANDROID</li>
                            <li class="portfolio-tag">PERSONAL PROJECT</li>
                            <li class="portfolio-tag">LINKS TO MBAAS</li>
                            <li class="portfolio-tag">GOOGLE MAPS</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_InventoryManagement.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Inventory Managment app is a (SaaS) logistics inventory management tool that provides full overview of inventory and locations in real time. Quick bar code / QR code scanning or item look up provides item information and history. Move, Allocate or record condition with camera functionality. Supports offline functionality. Designed for tablet devices.">
                            <img src="images/Feature_InventoryManagement.png" alt="Cross Platform App (Xamarin Forms) Inventory Managment app is a (SaaS) logistics inventory management tool that provides full overview of inventory and locations in real time. Quick bar code / QR code scanning or item look up provides item information and history. Move, Allocate or record condition with camera functionality. Supports offline functionality. Designed for tablet devices." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">QR CODE SCANNING</li>
                            <li class="portfolio-tag">OFFLINE FUNCTIONALITY</li>
                            <li class="portfolio-tag">SQLITE STORAGE</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_MyTrackit.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) MyTrackit app is a (SaaS) solution for the oil and gas industry, providing real time information to an entire workforce – Flights, Rig allocations, Roster schedule, Competency information and much more. Features local and remote push notifications as well as complex data handling that provides real time information anywhere, any time.">
                            <img src="images/Feature_MyTrackit.png" alt="Cross Platform App (Xamarin Forms) MyTrackit app is a (SaaS) solution for the oil and gas industry, providing real time information to an entire workforce – Flights, Rig allocations, Roster schedule, Competency information and much more. Features local and remote push notifications as well as complex data handling that provides real time information anywhere, any time." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">LOCAL NOTIFICATIONS</li>
                            <li class="portfolio-tag">OFFLINE FUNCTIONALITY</li>
                            <li class="portfolio-tag">SQLITE STORAGE</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_TrackitEducation.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Trackit education app is a (SaaS) solution that makes the process of tracking students' progress and assessment of skills more efficient. For client / server side API integration, Trackit education app uses Polly project library part of the .NET foundation, which is a .NET resilience and transient-fault-handling library. Additional library functionalities include taking videos, photos and file picking. Supports offline functionality.">
                            <a href="images/Portfolio_TrackitEducation_2.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Trackit education app is a (SaaS) solution that makes the process of tracking students' progress and assessment of skills more efficient. For client / server side API integration, Trackit education app uses Polly project library part of the .NET foundation, which is a .NET resilience and transient-fault-handling library. Additional library functionalities include taking videos, photos and file picking. Supports offline functionality.">
                                <img src="images/Feature_TrackitEducation.png" alt="Cross Platform App (Xamarin Forms) Trackit education app is a (SaaS) solution that makes the process of tracking students' progress and assessment of skills more efficient. For client / server side API integration, Trackit education app uses Polly project library part of the .NET foundation, which is a .NET resilience and transient-fault-handling library. Additional library functionalities include taking videos, photos and file picking. Supports offline functionality." class="img-responsive zoom-img">
                            </a>
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">CAMERA USAGE</li>
                            <li class="portfolio-tag">FILE PICKING</li>
                            <li class="portfolio-tag">OFFLINE FUNCTIONALITY</li>
                            <li class="portfolio-tag">SQLITE STORAGE</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_TRFU.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) TRFU app makes following favorite local Taranaki Rugby Teams simple and easy. Get the latest news, results or upcoming matches at your finger tips. TRFU app uses Auth0 and Facebook for seamless identity authentication and push notifications that always keeps users updated.">
                            <img src="images/Feature_TRFU.png" alt="Cross Platform App (Xamarin Forms) TRFU app makes following favorite local Taranaki Rugby Teams simple and easy. Get the latest news, results or upcoming matches at your finger tips. TRFU app uses Auth0 and Facebook for seamless identity authentication and push notifications that always keeps users updated." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">LOCAL/REMOTE NOTIFICATIONS</li>
                            <li class="portfolio-tag">AUTH0/FACEBOOK AUTHENTICATION</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_XeniaGuest.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Xenia Guest enables users to manage their entire hotel booking experience. From viewing rooms, making bookings, checking in and out of rooms, view hotel special offers or begin purchasing inhouse services. Google maps and Google Places integration, payments made simple using Stripe online payment system. Features a slick and modern look that accurately captures the companies branding. Light weight, fast and responsive.">
                            <img src="images/Feature_XeniaGuest.png" alt="Cross Platform App (Xamarin Forms) Xenia Guest enables users to manage their entire hotel booking experience. From viewing rooms, making bookings, checking in and out of rooms, view hotel special offers or begin purchasing inhouse services. Google maps and Google Places integration, payments made simple using Stripe online payment system. Features a slick and modern look that accurately captures the companies branding. Light weight, fast and response." class="img-responsive zoom-img">
                        </a>
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">CAMERA USAGE</li>
                            <li class="portfolio-tag">STRIPE PAYMENT</li>
                            <li class="portfolio-tag">MESSAGING/CHAT</li>
                            <li class="portfolio-tag">GOOGLE MAPS</li>
                            <li class="portfolio-tag">SQLITE STORAGE</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_Spinit.png" class="gallery-box" data-lightbox="example-set" data-title="Spinit is a simple casual spinner game using the language Lua and Powered by Coronoa Labs. Simply Swipe as fast as possible for the fastest spinning speed before the timer reaches zero for the best distance. Supports leaderboard and profile creation. Running is a server handles account creation and new scores by users. Users can also compete on the leaderboard for best distance as well as fastest swipe speed. Supports push notifications using OneSignal.">
                            <img src="images/Feature_Spinit.png" alt="Corona Labs (Lua) Spinit is a simple casual spinner game using the programing language Lua and Powered by Coronoa Labs. Simply Swipe as fast as possible for the fastest spinning speed before the timer reaches zero for the best distance. Supports leaderboard and profile creation. Running is a server handles account creation and new scores by users. Users can also compete on the leaderboard for best distance as well as fastest swipe speed. Supports push notifications using OneSignal." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">CORONA LABS</li>
                            <li class="portfolio-tag">SERVER SIDE SUPPORT</li>
                            <li class="portfolio-tag">LOCAL/REMOTE NOTIFICATIONS</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_Housekeep.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Housekeep app (SaaS) provides hotel staff cleaners the tools and information to carry our routine room cleans and checks. Housekeep app supports camera functionality for recording room states/lost items and also local notifications that is used with the messaging functionality ensuring that users never miss an important message. Specifically designed for tablet devices">
                            <img src="images/Feature_Housekeep.png" alt="Cross Platform App (Xamarin Forms) Housekeep app (SaaS) provides hotel staff cleaners the tools and information to carry our routine room cleans and checks. Housekeep app supports camera functionality for recording room states/lost items and also local notifications that is used with the messaging functionality ensuring that users never miss an important message. Specifically designed for tablet devices" class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">MESSAGING/CHAT</li>
                            <li class="portfolio-tag">OFFLINE FUNCTIONALITY</li>
                            <li class="portfolio-tag">LOCAL NOTIFICATIONS</li>
                            <li class="portfolio-tag">CAMERA USAGE</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Porfolio_RoomGuest.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Room Guest app (SaaS) provides an enhanced guest experience, the tablet is simply placed in the room and any checked in guests can get all booking/room/hotel specific information, order inhouse services or even pay the bill. The user friendly interface design ensures guests know how to use the app the moment they begin using it and hotel staff can easily configure the app to a new room (or even hotel) when required through admin settings. Supports local notifications. Specifically designed for tablet devices.">
                            <img src="images/Feature_RoomGuest.png" alt="Cross Platform App (Xamarin Forms)." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">MESSAGING/CHAT</li>
                            <li class="portfolio-tag">STRIPE PAYMENT</li>
                            <li class="portfolio-tag">LOCAL NOTIFICATIONS</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/PortfolioMaintenance.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms). Maintenance app (SaaS) enables hotel staff and the maintenance guy to very easily manage those small jobs to the not so small jobs. Features job searching and job filtering. Camera and file picking functionality when media content is required, allows staff to leave notes on jobs and staff can also check todo tasks on jobs that ensure no task is left undone. Specifically designed for tablet devices.">
                            <img src="images/Feature_MaintenanceApp.png" alt="Cross Platform App (Xamarin Forms)." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">MESSAGING/CHAT</li>
                            <li class="portfolio-tag">FILE PICKING</li>
                            <li class="portfolio-tag">CAMERA USAGE</li>
                            <li class="portfolio-tag">LOCAL NOTIFICATIONS</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_SalesOrder.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Sales Order allows persons to walk around stock yards and add items to carts for customers in real time. The applications talks to the MYOB essentials API is which is a REST based API. Sales Order app uses Polly project library part of the .NET foundation. User interface provides a simple and user friendly experience for persons on the go. Specifically designed for tablet devices.">
                            <img src="images/Feature_SalesOrder.png" alt="Cross Platform App (Xamarin Forms) Sales Order allows persons to walk around stock yards and add items to carts for customers in real time. The applications talks to the MYOB essentials API is which is a REST based API. Sales Order app uses Polly project library part of the .NET foundation. User interface provides a simple and user friendly experience for persons on the go. Specifically designed for tablet devices." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                            <li class="portfolio-tag">MYOB INTEGRATION</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Porfolio_Minibar.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Minibar app (SaaS) provides hotel staff to check the minibar for any given room. Built with simplicity in mind this user friendly interface provides staff with the ability to easily perform tasks. Specifically designed for tablet devices.">
                            <img src="images/Feature_Minibar.png" alt="Cross Platform App (Xamarin Forms) Minibar app provides hotel staff to check the minibar for any given room. Built with simplicity in mind this user friendly interface provides staff with the ability to easily perform tasks. Specifically designed for tablet devices." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 gallery-grids">
                        <a href="images/Portfolio_FrontDesk.png" class="gallery-box" data-lightbox="example-set" data-title="Cross Platform App (Xamarin Forms) Minibar app (SaaS) provides hotel staff to check the minibar for any given room. Built with simplicity in mind this user friendly interface provides staff with the ability to easily perform tasks. Specifically designed for tablet devices.">
                            <img src="images/Feature_FrontDesk.png" alt="Cross Platform App (Xamarin Forms) Front desk app provides complete hotel overview including arriving and leaving guests, housekeeping management and more. The tablet app becomes the front desk. Specifically designed for tablet devices." class="img-responsive zoom-img">
                        </a>
                        <ul class="portfolio-tags">
                            <li class="portfolio-tag">XAMARIN</li>
                        </ul>
                    </div>
                    <div class="clearfix" />
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
    </section>
    <h2 style="color: black;text-align: center; padding-top: 50px; padding-bottom: 40px;">Education / Experience</h2>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="https://www.waikato.ac.nz/">
                <div class="cd-timeline-content">
                    <h3>University of Waikato</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Bachelor Degree of Computing Science</span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            2012 - 2015</span>
                    </div>
                    <p>Obtained my Bachelors Degree with eligibility for Honors</p>
                    <ul class="content-skills">
                        <li>Student Representative (Multiple)</li>
                        <li>Board of Faculty (Student Member)</li>
                        <li>Admission Appeals Committee (Student Member)</li>
                        <li>Student Ambassador</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="images/winnercomp204.jpg" class="gallery-box" title="Myself (left of lecturer) wearing the winning team medal and my winning team after our final presentation." data-lightbox="example-set">
                <div class="cd-timeline-content">
                    <h3>University of Waikato</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            July 2013</span>
                    </div>
                    <p>Personally awarded 'Best Team' medal in a 2nd year Software
                        Engineering Course</p>
                    <ul class="content-skills">
                        <li>Leadership</li>
                        <li>Interpersonal Skills</li>
                        <li>Cross-cultural competence</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="https://www.efinity.co.nz">
                <div class="cd-timeline-content">
                    <h3>Efinity Digital</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Xamarin & Backend Developer
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            March 2016 - March 2018
                        </span>
                    </div>
                    <p>Developing mobile apps for logistics software (SaaS) in the oil and gas industry as well as tertiary education. <i>In-Office/Remote Role.</i></p>
                    <ul class="content-skills">
                        <li>Xamarin Forms</li>
                        <li>MVC</li>
                        <li>SQL</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="https://www.stuff.co.nz/business/85516340/54hour-frenzy-turns-strangers-into-potential-business-partners">
                <div class="cd-timeline-content">
                    <h3>Startup Weekend</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            October 2016</span>
                    </div>
                    <p>Winning Team for the 2016 Taranaki Startup Competition.</p>
                    <ul class="content-skills">
                        <li>Leadership</li>
                        <li>Problem Solving</li>
                        <li>Customer Validation</li>
                        <li>Interpersonal Skills</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="http://xeniasuite.com">
                <div class="cd-timeline-content">
                    <h3>Xenia Suite</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Xamarin Developer
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            March 2018 - October 2020
                        </span>
                    </div>
                    <p>Developing software for Hotel Management Software. <i>Remote Role</i></p>
                    <ul class="content-skills">
                        <li>Xamarin Forms</li>
                        <li>Unit Testing</li>
                        <li>App Center Test / Test Cloud - (UITesting)</li>
                        <li>SQL</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div> 
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <a href="https://www.modeus.com.au">
                <div class="cd-timeline-content">
                    <h3>Modeus Pty Ltd</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Software Engineer
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            December 2020 - Current
                        </span>
                    </div>
                    <p>Developing Software for the Healthcare Industry. <i>Remote Role</i></p>
                    <ul class="content-skills">
                        <li>Xamarin Forms</li>
                        <li>Unit Testing</li>
                        <li>App Center Test / Test Cloud - (UITesting)</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </a>
        </div>
    </section> <!-- cd-timeline -->
    <!-- // Vertical Timeline -->
    <section id="contact-form" style="margin-top: 2px">
        <h2 style="color: black;text-align: center; padding-top: 50px;">Contact me</h2>
        <div id="app" class="row">
            <form class="vue-form col-md-12 col-lg-6" action="https://formspree.io/leojharris@hotmail.com" method="POST">
                <input type="hidden" name="_subject" value="New submission!" />
                <div>
                    <label class="label" for="name">Name</label>
                    <input type="text" name="name" id="name" required="" placeholder="(your name here)" autocomplete="off" minlength="3" v-model="name">
                </div>
                <div>
                    <label class="label" for="email">Email</label>
                    <input type="email" id="email" name="_replyto" value="" placeholder="(your email)" autocomplete="off" required="required" :class="{ email , error: !email.valid }" v-model="email.value">
                </div>
                <!-- <div>
                    <h4>Phone Number</h4>
                   <div id="app">
  <demo></demo>
</div>
                </div> -->
                <div>
                    <label class="label" for="topic">What would you like to talk about</label>
                    <select id="topic" name="topic" v-model="topic">
                        <option disabled value="">Select a Topic</option>
                        <option>Looking to Hire</option>
                        <option>Lets meet for a Coffee</option>
                        <option>Other</option>
                    </select>
                </div>
                <!--  <div>
                    <h4>Country</h4>
                    <country-select />
                </div> -->
                <!-- <div>
                    <label class="label" for="seeking">What are you looking for (optional)</label>
                    <ul id="seeking" name="seeking" class="vue-form-list">
                        <li v-for="(tech, index) in seeking">
                            <input type="checkbox" :value="tech" :id="'cb-teck-'+index" v-model="selection">
                            <label :for="'cb-teck-'+index">{{tech}}</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-all" @click="checkAll">
                            <label for="checkbox-all">Check All</label>
                        </li>
                    </ul>
                </div> -->
                <div>
                    <label class="label" for="textarea">Project overview or message</label>
                    <textarea class="message" placeholder="(your message here)" name="message" id="textarea" required="" v-model="message.text" :maxlength="message.maxlength"></textarea>
                    <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
                </div>
                <div>
                    <input type="submit" value="Send Form">
                </div>
            </form>
            <div class="debug col-lg-3">
                <div>
                    <h4 class="d-none d-lg-block" style="color: black">Payload</h4>
                </div>
                <pre class="d-none d-lg-block"><code>{{ $data }}</code></pre>
            </div>
        </div>
    </section>
    <!-- end section -->

<!-- <script type="module">
    import VuePhoneNumberInput from './vue-phone-number-input';
import './vue-phone-number-input/dist/vue-phone-number-input.css';

Vue.component('vue-phone-number-input', VuePhoneNumberInput);
</script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.skillbar').each(function() {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 3000);
        });
    });
    </script>
    <script src="js/custom.js"></script>
</body>
</html>
